<div class="mb-3">
  <div class="mb-3">
    <%= render 'partials/users', user: @user %>
  </div>
  <p class="card pb-3 ps-1">
    <span class="mb-3">Bio</span>
    <%= @user.bio %>
  </p>
</div>

<ul class="list-unstyled">
  <% @user.recent_three_post.each do |post| %>
    <div class="mb-3">
      <%= render 'partials/posts', post: post %>
    </div>
  <% end %>
</ul>

<div class="mb-3">
  <h2>Add a new post</h2>
  <%= render 'forms/form'%>
</div>

<%= link_to 'See all posts', user_posts_path(@user), class: "btn btn-outline-dark" %>